/*global*/
* {
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
}
/*end global*/

/*tentang*/
.tentang-gambar {
  padding: 1em 0;
}
/*end tentang*/


.container.main-container {
  min-height: 85vh;
}
/*topnav*/
.top-nav {
  background: rgba(0,0,0,0.03);
  padding: 5px 0;
}
.top-nav-text {
  float: left;
}
.top-nav-icon-blocks {
  float: right;
}
.top-nav-icon-blocks .icon-block {
  display: inline-block;
  padding: 0 10px;
  text-align: right;
}
.top-nav-icon-blocks .icon-block p, .top-nav-icon-blocks .icon-block a, .top-nav-text p, .top-nav-text a {
  font-size: 12px;
  line-height: 26px;
  margin: 0;
  color: #5d5d5d;
}
.top-nav-icon-blocks .icon-block i {
  padding-right: 6px;
}
.top-nav-icon-blocks .icon-block i {
  font-size: 13px;
}
/*end topnav*/

/*top menu*/
a.navbar-brand {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
a.navbar-brand .seme-site-logo-wrapper {

}
a.navbar-brand .seme-site-logo-wrapper .seme-site-logo {
  height: 26px;
}
/*end top menu*/

/*breadcrumb*/
.breadcrumb {
  background: transparent;
}
/*end breadcrumb*/

/*kartu*/
.kartu {
  border: 1px #acacac solid;
  border-radius: 5px;
  padding: 0.5em;
}
.kartu:hover, .kartu:focus {
  border-color: #3d3d3d;
}
.kartu > a:hover, .kartu > a:focus {
  text-decoration: none;
}
.kartu .kartu-teks {
  color: black;
}
.kartu .kartu-teks h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em 0;
}
.kartu .kartu-teks p {
  font-size: 0.8em;
  margin: 0;
}
/*end kartu*/
/*footer menu*/
.footer-menu {
  background-color: #3c3c3c;
  margin-top: 3em;
  padding: 3em;
}
.footer-menu .logo-container {
  margin: 1em 0;
}
.footer-menu .nav-pills>li>a {
  color: white;
}
.footer-menu .nav>li>a:focus, .footer-menu .nav>li>a:hover {
  text-decoration: none;
  background-color: #23527c;
}
footer.footer-copyright {
  background-color: #ededed;
}
.copyright {
  text-align: center;
  line-height: 1;
  color: #1c1c1c;
  font-size: small;
  margin-top: 1em;
}
/*end footer menu*/

/*produk*/
.produk-detail-main {
  min-height: 50vh;
}
.produk-detail-main h1 {
  font-size: 2.2em;
  font-weight: bold;
  margin-top: 0;
}
.produk-detail-main h5 {
  color: #390000;
}
.produk-detail-main .harga .harga-jadi {
  color: #ef0000;
  font-weight: bold;
  font-size: 1.6em;
}
.produk-detail-main .deskripsi-singkat {
  margin: 1em 0;
  font-size: 1.1em;
}
.btn.btn-wa {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 1em;
  font-size: 1.2em;
}
.btn.btn-wa:hover {
  background-color: #4dad4d;
}
.btn.btn-links {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 1em;
  font-size: 1.2em;
}
.btn.btn-links:hover {
  background-color: #4dad4d;
}
.btn.btn-email {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 1em;
  font-size: 1.2em;
}
.btn.btn-email:hover {
  background-color: #4dad4d;
}
.btn.btn-telp {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 1em;
  font-size: 1.2em;
}
.btn.btn-telp:hover {
  background-color: #4dad4d;
}
h2.deskripsi-judul {
  color: #3d3e3f;
}
.product-flexslider {
    margin: 20px 0px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: inline-block;
}
.product-essential .product-image img {
    height: auto;
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 0px;
    margin-top: -1px;
}
.owl-item {
    text-align: center;
}
h2.deskripsi-judul {
  border-bottom: 1px solid #ededed;
}
/*end produk*/
/*bottom produk detail navigation*/

.container.container-bottom-nav {
  width: 100%;
  padding: 0;
}
.container.container-bottom-nav .col-md-6.col-prev, .container.container-bottom-nav .col-md-6.col-next {
 background-size: cover;
 background-color: #ededed;
 padding: 0;
}
.container.container-bottom-nav .col-md-6.col-prev {
 <?php if(isset($related_produk[0]->foto)) echo 'background-image: url("'.($related_produk[0]->foto).'")'; ?>
}
.container.container-bottom-nav .col-md-6.col-next {
 <?php if(isset($related_produk[1]->foto)) echo 'background-image: url("'.($related_produk[1]->foto).'")'; ?>
}
.bottom-nav-content {
 height: 350px;
 background-color: rgba(0,0,0,0.15);
 transition: all 0.4s ease;
 padding: 0.8em;
 padding-top: 310px;
 cursor: pointer;
}
.bottom-nav-content a{
 color: white;
 font-size: 1.2em;
}
.bottom-nav-content:hover a{
 text-decoration: underline;
 font-size: 1.4em;
}
.container.container-bottom-nav .col-md-6.col-next .bottom-nav-content {
 text-align: right;
}
.bottom-nav-content:hover, .bottom-nav-content:focus {
 background-color: rgba(0,0,0,0.35);
}
/*end of bottom produk detail navigation*/
/*provider*/
.provider {
  border: 1px #ededed solid;
  border-radius: 0.5em;
}
.provider .judul {
  text-align: center;
  background-color: #ededed;
  padding: 0.5em;
}
.provider .judul h3 {
  margin: 0;
  font-size: 1.3em;
  font-weight: bold;
}
.provider .isi {
  padding: 0.5em;
}
.provider .isi .gambar {
  text-align: center;
  margin-bottom: 0.5em;
}
.provider .isi p {
  text-align: center;
  font-weight: bold;
}
/*end provider*/
/*richtext std */
.std h1 {
  font-size: 2.4em;
}
.std h2 {
  font-size: 2.2em;
}
.std h3 {
  font-size: 2em;
}
.std h4 {
  font-size: 1.8em;
}
.std h5 {
  font-size: 1.65em;
}
.std h6 {
  font-size: 1.5em;
}
.std p {
  font-size: 1.3em;
  margin-bottom: 1em;
}
.std img {
  width: 100%;
  height: auto;
}
/* end richtext std */
