@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Martel&display=swap');
*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }
html,body{width: 100%; height: 100%;}
body {
	/*font-family: 'Roboto','Helvetica Neue', Helvetica,'微软雅黑',Microsoft YaHei, 'Segoe UI', Arial, sans-serif;*/
	font-family: 'Martel', serif;
	font-weight: 400;
	background: #fcf7ef;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin:0;
}
body {

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}
h1{
	color: #6c4f57;
}
/*navbar*/
.top-nav {

}
.top-nav-text{
  font-family: 'Lato', sans-serif;
  line-height: 2;
}
.topbar-tanggal{
  color:#fcf7ef;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default{
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}
.navbar.navbar-default.navbar-ppisu {
  height: 80px;
}

.navbar.navbar-default.navbar-ppisu {
  padding-top: 10px;
}

.navbar.navbar-default.navbar-ppisu  {
  padding-top: 10px;
}
a.navbar-brand .seme-site-logo-wrapper .seme-site-logo {
  height: 25px;
}
a.navbar-brand .seme-site-logo-wrapper {
  color:#000;
}
.navbar-default.navbar-ppisu .navbar-nav > li {
  text-align: center;
}
.navbar-default.navbar-ppisu .navbar-nav > li > a {
  color: #fcf7ef;
  font-weight: bold;
  font-size: 1.1em;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  line-height: 2em;
  letter-spacing: -0.03em;
}
.navbar-default.navbar-ppisu .navbar-nav > li > a > span {
  position: absolute;
  width: 0;
  height: 0px;
  display: block;
  bottom: 15px;
  right: 0;
  background: #ffffff;
  transition: width ..3s ease;
  -webkit-transition: width ..3s ease;
}
.nav.nav-pills.nav-stacked.nav-aing li {
  background-color: #ffffff;
  margin-bottom: 0.5em;
}
.nav.nav-pills.nav-stacked.nav-aing li a{
  color: #fcf7ef;
  font-weight: bolder;
  letter-spacing: -0.03em;
}
.nav.nav-pills.nav-stacked.nav-aing li a:hover, .nav.nav-pills.nav-stacked.nav-aing li a:focus {
  background-color: #fcf7ef;
  color: #000;
}
.navbar-transparent {
    font-weight: bold;
    background: rgba(255,255,255,0.1);
    border-bottom: 1px solid transparent;
}
.navbar-transparent {
    background-color: transparent;
}
.stuck {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}
/*end navbar */

/*footer*/
.footer-menu {
  background-color: #6c4f57;
}
footer.footer-copyright {
  background-color: #6c4f57;
  padding: 1em;
}
.footer-title {
  color: #fff;
  border-bottom: 1px #efefef solid;
}
.footer-copyright .nav.nav-pills>li>a {
  color: #fff;
}
.footer-copyright .nav.nav-pills>li:hover>a, .footer-copyright .nav.nav-pills>li>a:hover {
  color: #000;
  background-color: #fff;
}
/* end footer*/
.form-control{
	margin-bottom: 16px;
}
.image_header{
	width: 80em;
	margin-bottom: 5em;
}
.header{
	background-color: #fff;
}
.text-header{
	padding-right: 2em;
	margin-top:12em;
	margin-bottom: 5em;
}
.text-header h1{
	font-size: 3em;
}
.btn-buat{
	background-color: #8aa27d;
	color:#fff;
}
.kartu-fitur{
	border : 3px solid #8aa27d;
	border-radius: 7px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}
.kartu-fitur p {
	font-size: 14px;
}
.kartu-fitur-big{
	position: sticky;
	color: #fff;
	background-color: #8aa27d;
	border-radius: 7px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}
.fitur{
	margin-top: 2em;
}


/*parallax interactive*/

.container_card a {
	outline: none;
	color: #fff;
	text-decoration: none;
	transition: color 0.2s;
}
.container_card ul, .container_card li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.container_card a:hover, .container_card a:focus {
	color: #fff;
	text-decoration: none;
}
.container_card{
	position: relative;
	width: 100%;
	height: 100%;
	margin:150px auto;
	padding: 0px;
}
.doni_hover{
	position: absolute;
	width: 600px;
	height: 800px;
	left: calc(50% - 200px);
	top: calc(50% - 200px);
}
.tilt_bg, .tilt_human, .tilt_share1, .tilt_share2{
		position: absolute;
    left: 0;
    top: 0;
		border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: .3s ease-out;
    transform: translate3d(0,0,0);
}
.parallaxTilt_hover{
	position: absolute;
	width: 600px;
	height: 800px;
	left: calc(50% - 200px);
	top: calc(50% - 200px);
}
.tilter_figure{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.par_satu, .par_dua, .par_tiga, .par_empat, .par_lima, .par_enam, .par_tujuh, .par_delapan, .par_sembilan{
		position: absolute;
    left: 0;
    top: 0;
		border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: .3s ease-out;
    transform: translate3d(0,0,0);
}
.tilter_deco{
    background-color: rgba(40,150,200,0.3);
}
.tilter_figure .tilter_title {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 6em;
		left: 20px;
    position: absolute;
    bottom: 250px;
}
.tilter_figure .tilter_title2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 6em;
		left: 300px;
    position: absolute;
    bottom: 50px;
}
.tilter_figure .tilter_title_dan {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 6em;
		left: 250px;
    position: absolute;
    bottom: 150px;
}
.tilter_figure .tilter_tag {
    display: inline-block;
    padding: 12px 12px 12px 0;
    margin: 0;
    position: absolute;
    bottom: 10px;
    text-align: right;
		left: 450px;
    border-top: 2px solid #FB0033;
}
.tilter_figure .tilter_tag span {
    font-size: 1em;
    font-weight: bold;
}
.tilter_title, .tilter_title2, .tilter_title_dan{
	color: #000;
	font-family: 'Handlee', cursive;
}
.tilter_tag{
	color: #0a0a0a;
}

/*end parallax interactive*/
.input-group .form-control{
	margin-left:16px;
}
.item {
	padding:50px ;
	border: 8px solid #f7f7f7;
	background: #fff;
	overflow: hidden;
	position: relative;
	z-index: 3;
	border-color:#75dab0
}
.active{
	border-color:#75dab0;
	padding-top:-20px;
	z-index: 3;
	font-size: 15px
}
.item{
	color:#222327;
	font:14px;
	padding-top:50px;
}
.harga{
	color:#75dab0;
	font-size:80px;
	margin:5px;
}
.price .value h3 span {
    color: #ccc;
    font-size: 20px;
    position: absolute;
    top: 70px;
		left: 70px;
}
h5{
	color:#000000;
	font-size:22px;
}
.per{
	color:#999999;
	margin:30px;
	font-size:12px;
}
.butn-bg {
    background: #75dab0;
    color: #fff;
}

.butn {
    padding: 14px 35px;
    background: #fff;
    position: relative;
    z-index: 3;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    outline: none !important;
}
.features{
	font-size:10px;

}
a.butn.butn-bord{
	background-color:#75dab0;
}
a.butn.butn-bg{
	background-color: #75dab0;
}
<<<<<<< HEAD
/* span{
=======
/*span{
>>>>>>> 4fbf0e202ca9644b9739c2926abe964e288dcd7f
	color:#000000;
	font:15px;
}*/
/*.row{
	margin-right: -15px;
	margin-left: 15px;
<<<<<<< HEAD
} */
=======
}*/
>>>>>>> 4fbf0e202ca9644b9739c2926abe964e288dcd7f
