@media (max-width: 1400px){
}

@media (max-width: 1024px){
  .homepage-slider-item {
    outline: none !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
  }
  .homepage-slider-item-teks {
    height: 200px;
    margin: 0;
    margin-top: 200px;
    padding: 20px;
    background-color: rgba(0, 26, 145,0.5);
  }
  .homepage-slider-item-teks h1 {
    color: #fff;
    letter-spacing: -0.03em;
    font-weight: bolder;
    font-size: 2em;
  }
}

@media (max-width: 768px){
  .artikel-terbaru .sebelum-judul {
    margin-top: 1em;
  }

  .homepage-slider-item {
    outline: none !important;
    border-radius: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
  }
  .homepage-slider-item-teks {
    width: 100%;
    height: 200px;
    margin: 0;
    margin-top: 150px;
    padding: 20px;
    background-color:rgba(119, 171, 255,0.5);
  }
  .homepage-slider-item-teks h1 {
    color: #fff;
    letter-spacing: -0.03em;
    font-weight: bolder;
    font-size: 2em;
  }
}
@media (max-width: 425px){
  .navbar-collapse.collapse, navbar-collapse.collapse.in{
    position: relative;
    z-index: 100;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #353535;
  }
  .homepage-slider-item {
    outline: none !important;
    border-radius: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
  }
  .homepage-slider-item-teks {
    width: 100%;
    height: 150px;
    margin: 0;
    margin-top: 150px;
    padding: 20px;
    background-color: rgba(0,0,0,0.54);
  }
  .homepage-slider-item-teks h1 {
    color: #fff;
    letter-spacing: -0.03em;
    font-weight: bolder;
    font-size: 1.5em;
  }
  .homepage-slider-item-teks p {
    display: none;
  }
  .kartu-gambar {
    margin-top: 1em;
  }
  .kartu-gambar .kartu-gambar-wrapper {
    margin-bottom: 1em;
    min-height: 200px;
  }
  .kartu-gambar .label {
  }
  .blog-terkini-gambar {
    display: none;
  }
}

@media (max-width: 320px){
  section {
    margin-top: 0em;
  }
  section h2.section-title {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }


  .homepage-slider-item {
    outline: none !important;
    border-radius: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
  }
  .homepage-slider-item-teks {
    width: 100%;
    height: 150px;
    margin: 0;
    margin-top: 150px;
    padding: 20px;
    background-color: rgba(0,0,0,0.54);
  }
  .homepage-slider-item-teks h1 {
    color: #fff;
    letter-spacing: -0.03em;
    font-weight: bolder;
    font-size: 1.5em;
  }
  .homepage-slider-item-teks p {
    display: none;
  }
  .kartu_king{
    padding-top: 75;
  }
}
